
<dl>
  <dt>Title</dt>
  <dd>{{ bookmark.title }}</dd>
  <dt>URL</dt>
  <dd><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></dd>
  <dt>Created at</dt>
  <dd>{{ bookmark.created_at }}</dd>
</dl>
