{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bookmarks/style.css' %}">

{% if bookmark_list %}
    <ul>
    {% for bookmark in bookmark_list %}
        <li><a href="{% url 'detail' bookmark.id %}">
          {% if bookmark.title %}
            {{ bookmark.title }}
          {% else %}
            {{ bookmark.url }}
          {% endif %}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No saved bookmarks.</p>
{% endif %}

<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'create' %}">Add new</a></li>
</ul>
