<h1>New bookmark</h1>

<form action="{% url 'create' %}" method="post">
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <input name="url" id="url">
  <label for="url">URL</label><br>

<input type="submit" value="Save">
</form>
